body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f9f9f9;
}

header {
    background-color: #f1f1f1;
    padding: 10px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
}

nav li.nav-item {
    margin-right: 20px;
}

nav .nav-loginItem {
    margin-left: auto;
    color: #333;
    font-weight: 600;
}

nav .nav-loginItem a{
    display: flex;
    flex-direction: row;
}

nav .nav-loginItem img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: 600;
}

nav a:hover {
    color: #007bff;
}

nav a.active {
    color: #007bff;
}

main {
    padding: 20px;
}

section {
    display: none;
}

section.active {
    display: block;
}

footer {
    background-color: #f1f1f1;
    padding: 20px;
    text-align: center;
    font-size: 14px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 200px);
}

#personal-info {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px solid transparent;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    min-width: 350px;
}

#personal-projects h1 {
    font-size: 24px;
    font-weight: bold;
}

#personal-projects {
    background-color: #fff;
    list-style-type: none;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
    border: 1px solid transparent;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    width: 65%;
}

.project-item {
    padding: 20px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    border-radius: 5px solid transparent;
}

.project-menu {
    list-style: none;
    padding: 0;
    margin: 0;
}

.project-title {
    display: flex;
    align-items: center;
    background-color: #f2f2f2;
    padding: 10px;
}

.project-title a {
    text-decoration: none;
    color: #4a4a4a;
}

.title-text {
    font-weight: bold;
}

.project-details {
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;
}

.project-image {
    width: 150px;
    height: 150px;
    margin-right: 20px;
}

.project-description {
    flex: 1;
}

.see-more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #555;
    font-size: 14px;
    text-decoration: none;
}

.avatar-section {
    display: flex;
    align-items: center;
    text-align: center;
    margin-bottom: 20px;
}

.avatar-section img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.description-section {
    margin-top: 20px;
    text-align: center;
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.description-section p {
    word-wrap: break-word;
    word-break: break-all;
    overflow-wrap: break-word;
}

.social-section {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.social-button {
    display: inline-block;
    position: relative;
    width: 50px;
    height: 50px;
    margin-right: 10px;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.social-button:hover {
    transform: translateY(-5px);
}

.social-button a {
    display: block;
    width: 100%;
    height: 100%;
}

.social-button i {
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

#chat-box {
    background-color: #fff;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    height: 600px;
    min-width: 500px;
}

#chat-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 27%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    min-width: 120px;
}

#chat-list #chat-list-tittle{
    width: 100%;
}

#chat-list #chat-list-tittle h2{
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-list #chat-list-items h3{
    margin: auto;
}

#chat-list #chat-list-items {
    padding-top: 5px;
    justify-content: center;
    overflow-y: scroll;
    height: 90%;
    width: 100%;
} 

#chat-list #chat-list-items .chat-tab{
    background-color: #ececec;
    width: 95%;
    height: 80px;
    margin: auto;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 8px;
}

#chat-list #chat-list-items .chat-tab img{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    margin-left: 10px;
    pointer-events: none;
}

#chat-list #chat-list-items .chat-tab .chat-tab-info{
    pointer-events: none;
    color: black;
    margin-left: 10px;
    overflow: hidden;
}

#chat-list #chat-list-items .chat-tab h3{
    margin: auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-list #chat-list-items .chat-tab span{
    color: #676b72;
    font-size: .85rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-list #chat-list-items .chat-tab:hover{
    background-color: #d5d5d5;
}

#chat-list #chat-list-items .chat-tab.chat-active{
    background-color: #b6b6b6;
}

#chat {
    width: 67%;
    height: 90%;
    border: 1px solid #ccc;
    padding: 10px;
    font-family: Arial, sans-serif;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: 15px;
    min-width: 300px;
}
#chat-target{
    height: 10%;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
}

#chat-target img{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    margin-left: 10px;
}

#chat-target #person-info{
    margin-left: 10px;
}

#chat-target #person-info span{
    color: #676b72;
    font-size: .85rem;
    font-weight: 400;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#chat-target h2{
    margin: auto;
}

#chat-messages {
    height: 80%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

#chat-form {
    display: flex;
    margin-top: 10px;
}

#chat-input {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-input:focus {
    outline: none;
    border-color: #007bff;
}

#chat-form button[type="submit"] {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#chat-form button[type="submit"]:hover {
    background-color: #0062cc;
}

.message {
    display: flex;
    
}

.message.send .text{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    word-break: break-all;
    background-color: #fff;
    transform: translateY(20px);
    animation: slide-in 0.4s ease-in-out forwards;
    opacity: 0;
    color: black;
    align-self: flex-start;
}

.message.send .ico{
    width: 40px;
    height: 40px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    overflow-clip-margin: content-box;
    overflow: clip;
    align-self: flex-end;
}

.message.send {
    align-self: flex-end
}

.message.received .text{
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    word-break: break-all;
    background-color: #fff;
    transform: translateY(20px);
    animation: slide-in 0.4s ease-in-out forwards;
    opacity: 0;
    color: black;
    align-self: flex-end;
}

.message.received .ico{
    width: 40px;
    height: 40px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50%;
    overflow-clip-margin: content-box;
    overflow: clip;
    align-self: flex-start;
}

.message.received {
    align-self: flex-start;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* width */
#chat-box ::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#chat-box ::-webkit-scrollbar-track {
    background: #f9f9f9;
    border-radius: 15px;
}

/* Handle */
#chat-box ::-webkit-scrollbar-thumb {
    background: #f1f1f1;
    border-radius: 15px;
}

/* Handle on hover */
#chat-box ::-webkit-scrollbar-thumb:hover {
    background: #707070;
}

/* Track on hover */
#chat-box ::-webkit-scrollbar-track:hover {
    background: #f1f1f1;
}

#API {
    background-color: #fff;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid transparent;
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    min-height: 600px;
    min-width: 500px;
}

.api-container {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    margin: 15px;
}

.api-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f2f2f2;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.api-header:hover {
    background-color: #e6e6e6;
}

.api-content {
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-top: none;
}

.arrow {
    width: 10px;
    height: 10px;
    border: solid black;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
    transition: transform 0.2s;
}

.arrow-down {
    transform: rotate(135deg);
}

code {
    padding: 0.2rem 0.4rem;
    font-size: 90%;
    color: #bd4147;
    background-color: #f8f9fa;
    border-radius: 0.25rem;    
}
